

{% include tongji-analytics.html %}


<script src="../assets/js/main_lite.js"></script>
<script type="text/javascript" src="../assets/js/charts_line.js"></script>
<script type="text/javascript" src="../assets/js/charts_bar.js"></script>
<script type="text/javascript" src="../assets/js/charts_pie.js"></script>
<script type="text/javascript" src="../assets/js/charts_map.js"></script>
<script type="text/javascript" src="../assets/js/charts_graph.js"></script>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../assets/js/jquery-3.2.1.min.js"></script>
