<!-- Site Footer -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <span class="navbar-text">
      &copy; 2017 THIRTYJIN. All rights reserved.
    </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#FooterNavbarToggler" aria-controls="FooterNavbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse show" id="FooterNavbarToggler">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ site.github.url }}" target="_blank">Github</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.site_url }}" target="_blank" title="THIRTYJIN" >THIRTYJIN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.site_url }}/dux_charts/" target="_blank" title="THIRTY 数据图表库" >THIRTY 图表库</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.site_url }}/dux_icons/" target="_blank" title="THIRTY 图标库" >THIRTY 标局</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.site_url }}/dux_libs/" target="_blank" title="THIRTY 工具设计库" >THIRTY 设计库</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Site Footer End -->

{% include tongji-analytics.html %}



<script type="text/javascript" src="assets/js/charts_line.js"></script>
<script type="text/javascript" src="assets/js/charts_bar.js"></script>
<script type="text/javascript" src="assets/js/charts_pie.js"></script>
<script type="text/javascript" src="assets/js/charts_map.js"></script>
<script type="text/javascript" src="assets/js/charts_graph.js"></script>
<script type="text/javascript" src="assets/js/demo_portrait.js"></script>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="assets/bootstrap-4.0.0-beta.2-dist/js/bootstrap.min.js" ></script>
<script src="assets/js/main.js"></script>
