html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, img, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {

	font-family: 'PingFang SC', 'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft YaHei', Arial, simhei, sans-serif;
	font-style: inherit;
	outline: 0;
	vertical-align: baseline;

	-webkit-font-smoothing: antialiased; /*chrome、safari*/
	-moz-osx-font-smoothing: grayscale;/*firefox*/
}


body {
	background:#f2f4f8;
}

header {
	height: 60px;
	background: #000;
	margin: 0 auto 30px;
	padding: 0 20px;
	box-shadow: 0 1px 10px rgba(57, 103, 187, 0.5);
}

a {
	color: #666666;
}

#line_logo {
	float: left;
	height: 50px;
	width: 120px;
	margin-right: 10px;
}

.navbar-brand sup {
    color: #999;
    font-size: 10px;
    margin-left: 5px;
}


#title {
	font-size: 18px;
	text-align: left;
	line-height: 60px;
	color: #fff;
	font-weight: 100;
}


.card_area {
	background: #ffffff;
	margin-bottom: 30px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
	border-radius: 2px;
}


#hero_time {
	background: #FFFFFF;
	margin-top: 70px;
}


.page-header{
	padding-bottom:9px;
	margin:20px 0 30px;
	border-bottom:1px solid #eeeeee;}


/* 位置要放在 page-header 下面 */
.margintop_header {
	margin-top: 60px;
}

.card {
	margin-bottom: 20px;
}


.carousel-indicators {
    bottom: 0px;
}

.carousel-inner .content-wrapper {
	display: table;
}
.carousel-inner .content-cell {
	display: table-cell;
	vertical-align: middle;
	padding: 20px 20px 60px 20px;
	height: 300px;
}


.tooltip-inner {
    padding: 5px 10px;
    border-radius: 1px;
}





/* Charts */

#bar_h_negative,
#bar_v_base,
#bar_v_mult,
#bar_h_base,
#bar_h_stack {
	height: 360px;
}


#pie_ring_center,
#pie_ring,
#pie_base,
#pie_rose,
#pie_nest {
	height: 360px;
}
#graph_interests_option,
#graph_place_option,
#line_area_datazoom,
#line_multi_y,
#line_gradient_area,
#line_broken,
#line_base_area,
#line_base {
	height: 360px;
}


#base_interest,
#map_china {
	height: 400px;
}



/* 人群画像 DEMO */

#app_option,
#wealth_option,
#stage_option{
	height: 260px;
}
#gender_option,
#age_option,
#education_option{
	height: 300px;
}
#region_option,
#interests_option,
#place_option {
	height: 360px;
}
